<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf8"/>
        <title></title>
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link   href="/templates/syllabus@2026/index.css"  rel="stylesheet">
        <script  src="/templates/syllabus@2026/index.js"  type="module"></script>
    </head>
    <body>
        <main>

             <div class="danger">Ces supports correspondent à un module en cours. Ils ne sont ainsi pas finalisés, et peuvent être sujets à modifications.</div>

            <div>[desc]</div>

            <a style="float:right" href="https://www.enseignementsup-recherche.gouv.fr/sites/default/files/2023-12/science-des-donn-es-30879.pdf#page=[P]" target="_blank"><i>Lien vers le PN</i></a><br/><br/>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: left;">Nom</th>
                        <th>Volume</th>
                        <th>Ressources</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>W1</th>
                        <td><i><b>[name]</b></i></td>
                        <td>2h CMTD + 2h TD + 2h TP</td>
                        <td><a href="./W1/CM/" ready>PDF</a>, <a href="./W1/Slides/" revise>Slides</a>, <a href="./W1/TP/" draft>TDTP</a></td>
                    </tr>
                    <tr>
                        <td colspan="4">[desc]</td>
                    </tr>
                    <tr>
                        <th colspan="4" style="border-top-style: double; border-top-width: 3px;">Cheat sheets</th>
                    </tr>
                    <tr>
                        <th rowspan="1"></th>
                        <td colspan="2">[name] (non-autorisé en DS)</td>
                        <td colspan="2"><a href="./cheat/defs/" revise>PDF</a></td>
                    </tr>

                    <tr>
                        <th colspan="4">Annales DS</th>
                    </tr>
                    <tr>
                        <th rowspan="1"></th>
                        <td>Session 2024-2025</td>
                        <td>1h30 sur machine</td>
                        <td>Sujet, Corrige</td>
                    </tr>
                    <tr>
                        <th colspan="4">Ressources</th>
                    </tr>
                    <tr>
                        <th rowspan="2"></th>
                        <td colspan="3">Design Patterns - Elements of Reusable Object-Oriented Software<i>, Erich Gamma et al.</i></td>
                    </tr>
                    <tr>
                        <td colspan="2">Game Programming Patterns<i>, Robert Nystrom</i></td><td><a href="https://gameprogrammingpatterns.com/contents.html">Web</a></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>